

.container{display: flex;
           flex-direction: column;
           max-width: 1400px;
          margin: 0 auto;
          background-color: gray; 
          overflow-x: hidden;
         box-sizing: border-box;
        border: solid 3px;
       border-radius: 15px;
      }
         


@media (min-width:320px) and (max-width:480px) {
  /* regras CSS para telas de 320px a 768px */

    .container { display: flex;
                flex-direction:column;
                flex-wrap: wrap;
                justify-content: space-between;
             
  }
}


@media (min-width:481px) and (max-width:768px) {
  /* regras CSS para telas de 320px a 768px */

    .container { display: flex;
                flex-direction:column;
                flex-wrap: wrap;
                justify-content: space-between;
                 
            
    
  }
}



@media (min-width:769px) and (max-width:1024px) {
  /* regras CSS para telas de 769px a 1024px */


  .container { display: flex;
       flex-direction:row;
        flex-wrap: wrap;
   
    
  }
}

@media (min-width:1025px) and (max-width:1401px) {
  /* regras CSS para telas de 769px a 1024px */


  .container { display: flex;
       flex-direction:row;
        flex-wrap: wrap;
   
    
  }
}


 

   
    