.footer{display: flex;
        flex-direction: column;
        justify-content: flex-start;
         margin: auto;}


.formas-pgto,.frete,.contato{display: flex;
                            flex-direction: column;
                              margin:auto ;

   >h3{text-align:center;}
}



@media (min-width:481px) and (max-width:768px){

.formas-pgto,.frete,.contato{flex-basis: 50%;

   

   >h3{text-align:center;}
}


}

@media(min-width:769px) and (max-width:1024px){

.footer{display: flex;
        flex-direction:row;
        justify-content: space-between;
         margin: auto;}
        
     .formas-pgto ul {
                            display: flex; /* Define o layout como flexbox */
                            flex-wrap: wrap; /* Permite que itens quebrem para a linha seguinte */
                            justify-content: space-between; /* Distribui itens uniformemente */
                            width: 100%; /* Ocupa toda a largura disponível */
                            }

                            .formas-pgto li {
                            flex-basis: 50%; /* Define a largura inicial de cada item em 50% */
                            margin-bottom: 10px; /* Adiciona um espaçamento entre os itens */
                            }


   .frete,.contato{margin-top: -10px;}


}


@media(min-width:1025px) and (max-width:1401px){

.footer{display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: red;

>section ul{display: flex;
         flex-direction: row;
         justify-content: center;
         width: 33.33%;}}

 
.frete, .contato{margin-top: -10px;}

}


     


